*{
	padding:0px;
	margin: 0px;
}

.main{
	width: 80%;
	margin: 0 auto;
	text-align: center;
}

.main table {
	width: 100%;
	border:1px solid #000;
}
.main table td{
	border:1px solid #000;
	width: 18%;
	height: 40px;
}
.main .add-line{
	border:1px solid #000;
	height: 30px;
	line-height: 30px;
	margin-top: 0.4px;
}
.main table .new-line input{
	width:75%;
	height: 16px;
	padding:5px;
	display:inline-block;
}